server:
  port: 8082

spring:
  application:
    name: movie-service
  datasource:
    url: jdbc:mysql://localhost:3306/revtickets_movie_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
